.row::after {
    content: "";
    clear: both;
    display: table;
}

* {
    box-sizing: border-box;
}

/*mobile friendly images for floor mapping*/
.floors{
    max-width: 100%;
    height: auto;
    position: inherit;
}

